.panel {
  height: calc(100% - 30px);
  overflow-y: hidden;
  cursor: pointer;
  user-select: none;
  position: relative;
  h6 {
    position: absolute;
    height: 0.5px;
    top: 50%;
    left: 0;
    width: 60%;
    margin: auto;
    margin-top: 0.75px;
    right: 0;
    background: transparent;
    &.show {
      background: rgb(161, 161, 161);
    }
  }
}

h1 {
  font-size: 20px;
  height: 30px;
  text-align: center;
  font-weight: normal;
  color: #ffffff;
}

:host ::ng-deep {
  li {
    color: rgb(238, 234, 226);
    padding: 4px 6px;

    &.ok {
      font-size: 24px;
      padding: 6px;
      color: rgb(234, 152, 70);
    }
  }

  ul {
    text-align: center;
    &.auto {
      transition: margin 50ms ease-in 50ms;
    }
  }
}

li {
  color: white;
  padding: 5px 10px;
}
