<div class="dddd">
  <div class="iiiiii">
    <div class="music-cover" (click)="dfdasf()">
      <img draggable="false" src="assets/download.png" />
    </div>
  </div>
  <div class="list">
    <ul class="item">
      <li class="header">
        <span class="list-num"></span>
        <span class="music-name">歌曲</span>
        <span class="auth-name music-album">播放</span>
        <span class="music-album">时长</span>
      </li>
      <li *ngFor="let item of list; let i = index">
        <span class="list-num">
          <ng-container *ngIf="index == i; else currentRef">
            <img src="assets/images/wave.gif" alt="" />
          </ng-container>
          <ng-template #currentRef>
            {{ i + 1 }}
          </ng-template>
        </span>
        <span class="music-name">{{ item.name }}</span>
        <span class="auth-name music-album playthis" (click)="play(i)"
          >播放</span
        >
        <span class="music-album">{{ item.time }}</span>
      </li>

      <li *ngIf="list.length" class="end">
        总共 {{ list.length }}
      </li>
    </ul>
  </div>
</div>
<!-- <div class="back" (click)="dfdasf()">关闭</div> -->
