.dddd {
  display: flex;
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

.playthis {
  cursor: pointer;
}

.list-num {
  display: block;
  flex: 0 0 40px;
  text-align: center;
  float: left;
  overflow: hidden;
}
.list {
  flex: 3;
  overflow-y: auto;
}

.iiiiii {
  flex: 1;
}

.item li.end {
  justify-content: center;
  border-bottom: none;
  color: #646464;
  font-size: 12px;
}

.list-mobile-menu {
  display: none;
}
.music-cover {
  width: 186px;
  height: 186px;

  margin: auto;
  position: relative;

  img {
    vertical-align: middle;
    width: 186px;
    height: 186px;
    user-select: none;
  }

  &::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 0;
    width: 201px;
    height: 180px;
    background: url(../../assets/abc.png) 0 0 no-repeat;
    pointer-events: none;
  }
}

.item {
  li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 14px;
    border-bottom: 1px solid rgba(150, 150, 150, 0.1);
    cursor: default;
    position: relative;
    display: flex;

    &:not(.header) :hover {
      color: white;
    }
  }
}

.music-name {
  position: relative;
  overflow: hidden;
  flex: 1;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.music-album {
  position: relative;
  display: block;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 960px) {
  .music-name {
    flex: 0.8;
  }

  .dddd {
    flex-direction: column;
  }
  .iiiiii {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 960px) {
  .item {
    width: 90%;
  }
  .music-album {
    width: 120px;
  }
}

.auth-name {
  padding-right: 12px;
}

.back {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
}
